html, body, main#app-root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.wow {
    visibility: hidden;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
    padding: .3em .7em;
    border-radius: .1em;
    color: white;
    background-color: #00C7F2;
    transition: all .4s ease-out;
    cursor: pointer;
}

a:focus, a:hover, a:active {
    background-color: #00D2FF;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
}

main#app-root {
    background-color: #23232c;
    font-family: 'Open Sans';

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "user user account account credits"
                         "info1 graph1 graph1 stat1 stat1"
                         "stat2 graph1 graph1 info2 stat3"
                         "stat2 info3 graph2 graph2 stat3";
    grid-gap: 2em;
    padding: 2em;
    box-sizing: border-box;
    overflow: hidden;
}

main#app-root.loading {
    display: flex;
}

main#app-root > section {
    box-sizing: border-box;
    padding: 2em;
    /* border-radius: .3em; */
    background-color: white;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 20px;
    color: #32323d;
}

main#app-root > section.dark {
    background-color: #171717;
    color: #F7F7F7;
}
main#app-root > section.yellow {
    background-color: #FEEB15;
    color: #171717;
}
main#app-root > section.pink {
    background-color: #E72D63;
    color: #F7F7F7;
}
main#app-root > section.blue {
    background-color: #02B5C8;
    color: #F7F7F7;
}

section#user {
    grid-area: user;
    display: grid;
    grid-template-columns: 12em 1.5fr .9fr;
    grid-template-rows: 5em 5em;
    grid-template-areas: "img name link"
                         "img info info";
}

section#user img {
    grid-area: img;
    height: 10em;
    border-radius: 100%;
}

section#user h1 {
    grid-area: name;
    margin: 0px;
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 2.5rem;
    white-space: nowrap;
}
section#user h1 span {
    font-size: 1.2rem;
    font-weight: normal;
    color: #72727d;
    vertical-align: middle;
}

section#user h3 {
    grid-area: info;
    margin: 0px;
    margin-top: .5em;
    justify-self: flex-start;
    align-self: flex-start;
    font-weight: normal;
}

section#user a {
    grid-area: link;
    justify-self: center;
    align-self: flex-end;
    font-size: 1rem;
    white-space: nowrap;
    margin-bottom: .5rem;
}

section#account {
    grid-area: account;
}

section#credits {
    grid-area: credits;
}

section#graph1 {
    grid-area: graph1;
}

section#info1 {
    grid-area: info1;
}

section#stat1 {
    grid-area: stat1;
}

section#info2 {
    grid-area: info2;
}

section#stat2 {
    grid-area: stat2;
}

section#stat3 {
    grid-area: stat3;
}

section#graph2 {
    grid-area: graph2;
}

section#info3 {
    grid-area: info3;
}
